default:
    formatters:
        progress: true

    suites:
        default:
            paths:
                features: "%paths.base%/tests/features"
            contexts:
                - App\Tests\Bootstrap\FeatureContext
                - App\Tests\Bootstrap\SnippetContext
                - App\Tests\Bootstrap\RestContext
                - App\Tests\Bootstrap\JsonExtendedContext:
                      httpCallResultPool: 'behatch:behatch.http_call.result_pool'
    autoload:
        "": "%paths.base%/tests/Bootstrap"

    extensions:
        Behatch\Extension: ~
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/Bootstrap/bootstrap.php
            kernel:
                class: App\Kernel
                path: ~
                environment: ~
                debug: false
        Behat\MinkExtension:
            base_url: 'http://localhost:8080/'
            sessions:
                symfony:
                    symfony: ~
